In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Loading raw data and cleaning
data = pd.read_csv('CO2emissions_data.csv', error_bad_lines=False)

data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,CO2 emissions (kt),EN.ATM.CO2E.KT,11092.675,11576.719,12713.489,12178.107,11840.743,10623.299,...,1349.456,861.745,872.746,898.415,883.747,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,CO2 emissions (kt),EN.ATM.CO2E.KT,414.371,491.378,689.396,707.731,839.743,1008.425,...,10755.311,9050.156,8467.103,9035.488,8672.455,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,CO2 emissions (kt),EN.ATM.CO2E.KT,550.050,454.708,1180.774,1151.438,1224.778,1188.108,...,34176.440,33692.396,44851.077,34583.477,34693.487,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,CO2 emissions (kt),EN.ATM.CO2E.KT,2024.184,2280.874,2464.224,2082.856,2016.850,2174.531,...,4924.781,4913.780,5489.499,4616.753,4536.079,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,...,487.711,476.710,462.042,465.709,469.376,NaN,NaN,NaN,NaN,NaN

In [4]:
columns_to_keep = ["Country Name", "Country Code", "Indicator Name", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"]

Organized_df = data[columns_to_keep]
Organized_df.head()

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,CO2 emissions (kt),2379.883,2409.219,2438.555,2563.233,2618.238,2720.914,2717.247,2823.590,2658.575,2629.239,2508.228,2500.894,1349.456,861.745,872.746,898.415
1,Afghanistan,AFG,CO2 emissions (kt),773.737,817.741,1070.764,1213.777,916.750,1327.454,1650.150,2273.540,4206.049,6769.282,8463.436,12240.446,10755.311,9050.156,8467.103,9035.488
2,Angola,AGO,CO2 emissions (kt),9541.534,9732.218,12665.818,9064.824,18793.375,19156.408,22266.024,25151.953,25709.337,27792.193,29057.308,30586.447,34176.440,33692.396,44851.077,34583.477
3,Albania,ALB,CO2 emissions (kt),3021.608,3223.293,3751.341,4294.057,4165.712,4253.720,3898.021,3927.357,4374.731,4378.398,4598.418,5240.143,4924.781,4913.780,5489.499,4616.753
4,Andorra,AND,CO2 emissions (kt),524.381,524.381,531.715,535.382,561.051,575.719,546.383,539.049,539.049,517.047,517.047,491.378,487.711,476.710,462.042,465.709

In [5]:
CO2_data = Organized_df.dropna()
CO2_data.head()

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,CO2 emissions (kt),2379.883,2409.219,2438.555,2563.233,2618.238,2720.914,2717.247,2823.590,2658.575,2629.239,2508.228,2500.894,1349.456,861.745,872.746,898.415
1,Afghanistan,AFG,CO2 emissions (kt),773.737,817.741,1070.764,1213.777,916.750,1327.454,1650.150,2273.540,4206.049,6769.282,8463.436,12240.446,10755.311,9050.156,8467.103,9035.488
2,Angola,AGO,CO2 emissions (kt),9541.534,9732.218,12665.818,9064.824,18793.375,19156.408,22266.024,25151.953,25709.337,27792.193,29057.308,30586.447,34176.440,33692.396,44851.077,34583.477
3,Albania,ALB,CO2 emissions (kt),3021.608,3223.293,3751.341,4294.057,4165.712,4253.720,3898.021,3927.357,4374.731,4378.398,4598.418,5240.143,4924.781,4913.780,5489.499,4616.753
4,Andorra,AND,CO2 emissions (kt),524.381,524.381,531.715,535.382,561.051,575.719,546.383,539.049,539.049,517.047,517.047,491.378,487.711,476.710,462.042,465.709

In [8]:
CO2_data = CO2_data.rename(columns={"Country Name":"country_name","Country Code":"country_code","Indicator Name":"indicator_name"})

CO2_data.head()

,country_name,country_code,indicator_name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,CO2 emissions (kt),2379.883,2409.219,2438.555,2563.233,2618.238,2720.914,2717.247,2823.590,2658.575,2629.239,2508.228,2500.894,1349.456,861.745,872.746,898.415
1,Afghanistan,AFG,CO2 emissions (kt),773.737,817.741,1070.764,1213.777,916.750,1327.454,1650.150,2273.540,4206.049,6769.282,8463.436,12240.446,10755.311,9050.156,8467.103,9035.488
2,Angola,AGO,CO2 emissions (kt),9541.534,9732.218,12665.818,9064.824,18793.375,19156.408,22266.024,25151.953,25709.337,27792.193,29057.308,30586.447,34176.440,33692.396,44851.077,34583.477
3,Albania,ALB,CO2 emissions (kt),3021.608,3223.293,3751.341,4294.057,4165.712,4253.720,3898.021,3927.357,4374.731,4378.398,4598.418,5240.143,4924.781,4913.780,5489.499,4616.753
4,Andorra,AND,CO2 emissions (kt),524.381,524.381,531.715,535.382,561.051,575.719,546.383,539.049,539.049,517.047,517.047,491.378,487.711,476.710,462.042,465.709

In [ ]:
#Cleaning our GDP csv

In [9]:
data = pd.read_csv('GDPpercapita-data.csv', error_bad_lines=False)

data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.063882,-1.864168,3.593198,-0.294412,5.125616,1.583035,1.521780,NaN,NaN,NaN
1,Afghanistan,AFG,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.681081,8.974880,1.974169,-0.665271,-1.622887,-0.541697,0.064250,-1.195347,1.536912,NaN
2,Angola,AGO,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.220851,4.706498,1.292041,1.219835,-2.468719,-5.816191,-3.409909,-5.162102,-3.795674,NaN
3,Albania,ALB,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.821558,1.585156,1.187204,1.985426,2.516853,3.480117,3.897711,4.328396,2.676550,NaN
4,Andorra,AND,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.830102,-3.452688,-1.573746,4.524456,2.997046,4.667655,0.731813,1.582169,1.669680,NaN

In [10]:
columns_to_keep = ["Country Name", "Country Code", "Indicator Name", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"]

Organized_df = data[columns_to_keep]
Organized_df.head()

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP per capita growth (annual %),5.427608,-5.107188,-5.405878,-0.152951,6.031742,-0.094958,0.245883,1.410010,-0.224764,-10.605300,-3.887760,3.063882,-1.864168,3.593198,-0.294412,5.125616
1,Afghanistan,AFG,GDP per capita growth (annual %),NaN,NaN,NaN,3.868362,-2.875184,7.207933,2.253357,11.022774,1.594211,18.515369,11.264133,-2.681081,8.974880,1.974169,-0.665271,-1.622887
2,Angola,AGO,GDP per capita growth (annual %),-0.267945,0.822114,9.943764,-0.431851,7.187036,11.030836,7.582329,9.890012,7.116873,-2.808634,0.640294,-0.220851,4.706498,1.292041,1.219835,-2.468719
3,Albania,ALB,GDP per capita growth (annual %),7.633866,9.311124,4.853922,5.925630,5.951881,6.071391,6.570332,6.783927,8.328036,4.048888,4.223038,2.821558,1.585156,1.187204,1.985426,2.516853
4,Andorra,AND,GDP per capita growth (annual %),1.913452,4.986929,0.504741,4.040888,3.792889,1.892421,2.057546,-0.523712,-6.885786,-5.976668,-1.958707,0.830102,-3.452688,-1.573746,4.524456,2.997046

In [11]:
GDP_data = Organized_df.dropna()
GDP_data.head()

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP per capita growth (annual %),5.427608,-5.107188,-5.405878,-0.152951,6.031742,-0.094958,0.245883,1.410010,-0.224764,-10.605300,-3.887760,3.063882,-1.864168,3.593198,-0.294412,5.125616
2,Angola,AGO,GDP per capita growth (annual %),-0.267945,0.822114,9.943764,-0.431851,7.187036,11.030836,7.582329,9.890012,7.116873,-2.808634,0.640294,-0.220851,4.706498,1.292041,1.219835,-2.468719
3,Albania,ALB,GDP per capita growth (annual %),7.633866,9.311124,4.853922,5.925630,5.951881,6.071391,6.570332,6.783927,8.328036,4.048888,4.223038,2.821558,1.585156,1.187204,1.985426,2.516853
4,Andorra,AND,GDP per capita growth (annual %),1.913452,4.986929,0.504741,4.040888,3.792889,1.892421,2.057546,-0.523712,-6.885786,-5.976668,-1.958707,0.830102,-3.452688,-1.573746,4.524456,2.997046
5,Arab World,ARB,GDP per capita growth (annual %),3.272927,-0.579991,-1.557380,3.063164,6.976221,3.362640,4.028851,2.043404,3.276814,-1.965237,2.231819,1.386670,4.283180,1.039802,0.337680,1.126316

In [12]:
GDP_data = GDP_data.rename(columns={"Country Name":"country_name","Country Code":"country_code","Indicator Name":"indicator_name"})

GDP_data.head()

,country_name,country_code,indicator_name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP per capita growth (annual %),5.427608,-5.107188,-5.405878,-0.152951,6.031742,-0.094958,0.245883,1.410010,-0.224764,-10.605300,-3.887760,3.063882,-1.864168,3.593198,-0.294412,5.125616
2,Angola,AGO,GDP per capita growth (annual %),-0.267945,0.822114,9.943764,-0.431851,7.187036,11.030836,7.582329,9.890012,7.116873,-2.808634,0.640294,-0.220851,4.706498,1.292041,1.219835,-2.468719
3,Albania,ALB,GDP per capita growth (annual %),7.633866,9.311124,4.853922,5.925630,5.951881,6.071391,6.570332,6.783927,8.328036,4.048888,4.223038,2.821558,1.585156,1.187204,1.985426,2.516853
4,Andorra,AND,GDP per capita growth (annual %),1.913452,4.986929,0.504741,4.040888,3.792889,1.892421,2.057546,-0.523712,-6.885786,-5.976668,-1.958707,0.830102,-3.452688,-1.573746,4.524456,2.997046
5,Arab World,ARB,GDP per capita growth (annual %),3.272927,-0.579991,-1.557380,3.063164,6.976221,3.362640,4.028851,2.043404,3.276814,-1.965237,2.231819,1.386670,4.283180,1.039802,0.337680,1.126316

In [ ]:
#Clenaing renewable energy CSV

In [40]:
data = pd.read_csv('Renewable_energy.csv')

data.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.661788,6.855850,6.889753,6.927502,6.726748,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.482706,13.973586,16.334293,19.314269,18.423477,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,52.715679,52.245736,50.686116,50.797461,49.568210,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,35.962532,40.048300,41.288974,38.689501,38.615210,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.971546,19.195529,19.563698,19.886323,19.747809,NaN,NaN,NaN,NaN,NaN

In [41]:
columns_to_keep = ["Country Name", "Country Code", "Indicator Name", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"]

Organized_df = data[columns_to_keep]
Organized_df.head()

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,Renewable energy consumption (% of total final...,0.175266,0.180523,0.181391,0.184550,0.187055,0.186599,0.189937,0.190059,0.193546,0.299774,5.464716,5.661788,6.855850,6.889753,6.927502,6.726748
1,Afghanistan,AFG,Renewable energy consumption (% of total final...,54.243126,54.055055,43.771149,42.276141,49.843148,40.859171,37.137249,33.862579,21.343708,17.813855,14.839806,11.482706,13.973586,16.334293,19.314269,18.423477
2,Angola,AGO,Renewable energy consumption (% of total final...,74.618171,73.757859,72.125126,67.306117,65.493065,70.954202,65.022564,61.599704,58.107975,55.748977,54.193837,52.715679,52.245736,50.686116,50.797461,49.568210
3,Albania,ALB,Renewable energy consumption (% of total final...,41.445416,39.125664,35.896294,33.752729,35.935868,36.869489,31.710195,32.100937,35.912906,37.216638,37.115330,35.962532,40.048300,41.288974,38.689501,38.615210
4,Andorra,AND,Renewable energy consumption (% of total final...,14.890664,15.773868,16.221819,16.912308,16.874428,16.902437,17.485994,16.940777,17.422741,17.515948,19.090730,18.971546,19.195529,19.563698,19.886323,19.747809

In [42]:
Renewable_data = Organized_df.dropna()
Renewable_data.head()

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,Renewable energy consumption (% of total final...,0.175266,0.180523,0.181391,0.184550,0.187055,0.186599,0.189937,0.190059,0.193546,0.299774,5.464716,5.661788,6.855850,6.889753,6.927502,6.726748
1,Afghanistan,AFG,Renewable energy consumption (% of total final...,54.243126,54.055055,43.771149,42.276141,49.843148,40.859171,37.137249,33.862579,21.343708,17.813855,14.839806,11.482706,13.973586,16.334293,19.314269,18.423477
2,Angola,AGO,Renewable energy consumption (% of total final...,74.618171,73.757859,72.125126,67.306117,65.493065,70.954202,65.022564,61.599704,58.107975,55.748977,54.193837,52.715679,52.245736,50.686116,50.797461,49.568210
3,Albania,ALB,Renewable energy consumption (% of total final...,41.445416,39.125664,35.896294,33.752729,35.935868,36.869489,31.710195,32.100937,35.912906,37.216638,37.115330,35.962532,40.048300,41.288974,38.689501,38.615210
4,Andorra,AND,Renewable energy consumption (% of total final...,14.890664,15.773868,16.221819,16.912308,16.874428,16.902437,17.485994,16.940777,17.422741,17.515948,19.090730,18.971546,19.195529,19.563698,19.886323,19.747809

In [43]:
Renewable_data = Renewable_data.rename(columns={"Country Name":"country_name","Country Code":"country_code","Indicator Name":"indicator_name"})

Renewable_data.head()

,country_name,country_code,indicator_name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,Renewable energy consumption (% of total final...,0.175266,0.180523,0.181391,0.184550,0.187055,0.186599,0.189937,0.190059,0.193546,0.299774,5.464716,5.661788,6.855850,6.889753,6.927502,6.726748
1,Afghanistan,AFG,Renewable energy consumption (% of total final...,54.243126,54.055055,43.771149,42.276141,49.843148,40.859171,37.137249,33.862579,21.343708,17.813855,14.839806,11.482706,13.973586,16.334293,19.314269,18.423477
2,Angola,AGO,Renewable energy consumption (% of total final...,74.618171,73.757859,72.125126,67.306117,65.493065,70.954202,65.022564,61.599704,58.107975,55.748977,54.193837,52.715679,52.245736,50.686116,50.797461,49.568210
3,Albania,ALB,Renewable energy consumption (% of total final...,41.445416,39.125664,35.896294,33.752729,35.935868,36.869489,31.710195,32.100937,35.912906,37.216638,37.115330,35.962532,40.048300,41.288974,38.689501,38.615210
4,Andorra,AND,Renewable energy consumption (% of total final...,14.890664,15.773868,16.221819,16.912308,16.874428,16.902437,17.485994,16.940777,17.422741,17.515948,19.090730,18.971546,19.195529,19.563698,19.886323,19.747809

In [ ]:
#Cleaning urban population csv

In [44]:
data = pd.read_csv("Urban_population.csv")

data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Urban population,SP.URB.TOTL,27526.0,28141.0,28532.0,28761.0,28924.0,29082.0,...,43819.0,44057.0,44348.0,44665.0,44979.0,45296.0,45616.0,45948.0,46295.0,NaN
1,Afghanistan,AFG,Urban population,SP.URB.TOTL,755836.0,796272.0,839385.0,885228.0,934135.0,986074.0,...,7212518.0,7528588.0,7865067.0,8204877.0,8535606.0,8852859.0,9164841.0,9477100.0,9797273.0,NaN
2,Angola,AGO,Urban population,SP.URB.TOTL,569222.0,597288.0,628381.0,660180.0,691532.0,721552.0,...,14660282.0,15383127.0,16130304.0,16900847.0,17691524.0,18502165.0,19332881.0,20184707.0,21061025.0,NaN
3,Albania,ALB,Urban population,SP.URB.TOTL,493982.0,513592.0,530766.0,547928.0,565248.0,582374.0,...,1546929.0,1575788.0,1603505.0,1630119.0,1654503.0,1680247.0,1706345.0,1728969.0,1747593.0,NaN
4,Andorra,AND,Urban population,SP.URB.TOTL,7839.0,8766.0,9754.0,10811.0,11915.0,13067.0,...,74305.0,73056.0,71515.0,70057.0,68919.0,68213.0,67876.0,67813.0,67873.0,NaN

In [45]:
columns_to_keep = ["Country Name", "Country Code", "Indicator Name", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"]

Organized_df = data[columns_to_keep]
Organized_df.head()

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,Urban population,42444.0,43048.0,43670.0,44246.0,44669.0,44889.0,44882.0,44686.0,44378.0,44053.0,43778.0,43819.0,44057.0,44348.0,44665.0,44979.0
1,Afghanistan,AFG,Urban population,4587798.0,4790053.0,5031157.0,5293385.0,5563504.0,5824291.0,6055019.0,6263747.0,6464835.0,6680732.0,6927764.0,7212518.0,7528588.0,7865067.0,8204877.0,8535606.0
2,Angola,AGO,Urban population,8212001.0,8688765.0,9190861.0,9721267.0,10284528.0,10882817.0,11437890.0,12025601.0,12644649.0,13291081.0,13963065.0,14660282.0,15383127.0,16130304.0,16900847.0,17691524.0
3,Albania,ALB,Urban population,1289391.0,1298584.0,1327220.0,1354848.0,1381828.0,1407298.0,1430886.0,1452398.0,1473392.0,1495260.0,1519519.0,1546929.0,1575788.0,1603505.0,1630119.0,1654503.0
4,Andorra,AND,Urban population,60417.0,61991.0,64194.0,66747.0,69192.0,71205.0,72737.0,73843.0,74641.0,75098.0,75007.0,74305.0,73056.0,71515.0,70057.0,68919.0

In [48]:
Urban_data = Organized_df.dropna()
Urban_data.head()

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,Urban population,42444.0,43048.0,43670.0,44246.0,44669.0,44889.0,44882.0,44686.0,44378.0,44053.0,43778.0,43819.0,44057.0,44348.0,44665.0,44979.0
1,Afghanistan,AFG,Urban population,4587798.0,4790053.0,5031157.0,5293385.0,5563504.0,5824291.0,6055019.0,6263747.0,6464835.0,6680732.0,6927764.0,7212518.0,7528588.0,7865067.0,8204877.0,8535606.0
2,Angola,AGO,Urban population,8212001.0,8688765.0,9190861.0,9721267.0,10284528.0,10882817.0,11437890.0,12025601.0,12644649.0,13291081.0,13963065.0,14660282.0,15383127.0,16130304.0,16900847.0,17691524.0
3,Albania,ALB,Urban population,1289391.0,1298584.0,1327220.0,1354848.0,1381828.0,1407298.0,1430886.0,1452398.0,1473392.0,1495260.0,1519519.0,1546929.0,1575788.0,1603505.0,1630119.0,1654503.0
4,Andorra,AND,Urban population,60417.0,61991.0,64194.0,66747.0,69192.0,71205.0,72737.0,73843.0,74641.0,75098.0,75007.0,74305.0,73056.0,71515.0,70057.0,68919.0

In [49]:
Urban_data = Urban_data.rename(columns={"Country Name":"country_name","Country Code":"country_code","Indicator Name":"indicator_name"})

Urban_data.head()

,country_name,country_code,indicator_name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,Urban population,42444.0,43048.0,43670.0,44246.0,44669.0,44889.0,44882.0,44686.0,44378.0,44053.0,43778.0,43819.0,44057.0,44348.0,44665.0,44979.0
1,Afghanistan,AFG,Urban population,4587798.0,4790053.0,5031157.0,5293385.0,5563504.0,5824291.0,6055019.0,6263747.0,6464835.0,6680732.0,6927764.0,7212518.0,7528588.0,7865067.0,8204877.0,8535606.0
2,Angola,AGO,Urban population,8212001.0,8688765.0,9190861.0,9721267.0,10284528.0,10882817.0,11437890.0,12025601.0,12644649.0,13291081.0,13963065.0,14660282.0,15383127.0,16130304.0,16900847.0,17691524.0
3,Albania,ALB,Urban population,1289391.0,1298584.0,1327220.0,1354848.0,1381828.0,1407298.0,1430886.0,1452398.0,1473392.0,1495260.0,1519519.0,1546929.0,1575788.0,1603505.0,1630119.0,1654503.0
4,Andorra,AND,Urban population,60417.0,61991.0,64194.0,66747.0,69192.0,71205.0,72737.0,73843.0,74641.0,75098.0,75007.0,74305.0,73056.0,71515.0,70057.0,68919.0

In [ ]:
#Writing into clean csvs

In [50]:
CO2_data.to_csv("Cleaned_CO2.csv", index=True)

GDP_data.to_csv("Cleaned_GDP.csv", index=True)

Renewable_data.to_csv("Cleaned_renewable.csv", index=True)

Urban_data.to_csv("Cleaned_urban.csv", index=True)