In [16]:
# Dependencies and Setup
import pandas as pd
import numpy as np

## Get Top 20 Countries that produced the most CO2 emissions (2015)

In [17]:
# Loading cleaned CO2 emissions data 
data = pd.read_csv('Cleaned_CO2.csv', index_col= "Country Code")
data

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Code,,,,,,,,,,,,,,,,,,
ABW,Aruba,CO2 emissions (kt),2379.883,2409.219,2438.555,2563.233,2618.238,2720.914,2717.247,2823.590,2658.575,2629.239,2508.228,2500.894,1349.456,861.745,872.746,898.415
AFG,Afghanistan,CO2 emissions (kt),773.737,817.741,1070.764,1213.777,916.750,1327.454,1650.150,2273.540,4206.049,6769.282,8463.436,12240.446,10755.311,9050.156,8467.103,9035.488
AGO,Angola,CO2 emissions (kt),9541.534,9732.218,12665.818,9064.824,18793.375,19156.408,22266.024,25151.953,25709.337,27792.193,29057.308,30586.447,34176.440,33692.396,44851.077,34583.477
ALB,Albania,CO2 emissions (kt),3021.608,3223.293,3751.341,4294.057,4165.712,4253.720,3898.021,3927.357,4374.731,4378.398,4598.418,5240.143,4924.781,4913.780,5489.499,4616.753
AND,Andorra,CO2 emissions (kt),524.381,524.381,531.715,535.382,561.051,575.719,546.383,539.049,539.049,517.047,517.047,491.378,487.711,476.710,462.042,465.709
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,Samoa,CO2 emissions (kt),143.013,146.680,146.680,154.014,150.347,161.348,165.015,172.349,179.683,187.017,187.017,201.685,198.018,198.018,209.019,234.688
YEM,"Yemen, Rep.",CO2 emissions (kt),14642.331,16208.140,15764.433,17304.573,18881.383,20043.822,21316.271,20971.573,22339.364,24565.233,23432.130,20612.207,18698.033,25492.984,24667.909,13171.864
ZAF,South Africa,CO2 emissions (kt),378665.421,372042.819,356637.752,404459.099,450186.589,416915.898,447894.714,466578.079,496772.157,503112.400,469816.040,477370.060,464674.906,459222.077,484495.041,463952.507
ZMB,Zambia,CO2 emissions (kt),1822.499,1906.840,1983.847,2112.192,2145.195,2288.208,2291.875,1928.842,2170.864,2508.228,2691.578,2922.599,3678.001,3956.693,4503.076,4532.412
ZWE,Zimbabwe,CO2 emissions (kt),13923.599,12596.145,11965.421,10656.302,9486.529,10769.979,10447.283,9886.232,7770.373,5603.176,7803.376,9622.208,7873.049,11771.070,12115.768,12317.453

In [18]:
# Slice top 20 countries with highest CO2 emissions -- USE THIS CHART TO FIND TOP 20 CO2 EMISSION DATA 
# top20_CO2df = data.nlargest(20, '2015')

# top20_CO2df.sort_values("Country Name", inplace= True)
# # top20_CO2df.reset_index(drop = True)
# top20_CO2df.drop(labels= index, inplace= True)
# top20_CO2df.head(5)

In [19]:
# Store Top 20 country Names in a list -- USE THESE FOR DROP DOWN MENU AND PIE CHART TITLES
top20_countrynames_list = top20_CO2df["Country Name"]
top20_countrynames_list

9               Australia
25                 Brazil
31                 Canada
34                  China
48                Germany
84                  India
83              Indonesia
86     Iran, Islamic Rep.
92                  Japan
99            Korea, Rep.
116                Mexico
145                Poland
154    Russian Federation
156          Saudi Arabia
196          South Africa
57                  Spain
175              Thailand
181                Turkey
65         United Kingdom
187         United States
Name: Country Name, dtype: object

In [20]:
# Store Top 20 country codes in a list -- USE THESE TO MERGE DATA 
top20_countrycodes_list = top20_CO2df["Country Code"]
top20_countrycodes_list

9      AUS
25     BRA
31     CAN
34     CHN
48     DEU
84     IND
83     IDN
86     IRN
92     JPN
99     KOR
116    MEX
145    POL
154    RUS
156    SAU
196    ZAF
57     ESP
175    THA
181    TUR
65     GBR
187    USA
Name: Country Code, dtype: object

In [23]:
CO2data = pd.read_csv('Cleaned_CO2.csv', index_col= "Country Code")

top20_CO2df= CO2data.loc[top20_countrycodes_list]
top20_CO2df.sort_values("Country Name", inplace= True)

top20_CO2df.head(5)

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Code,,,,,,,,,,,,,,,,,,
AUS,Australia,CO2 emissions (kt),329443.280,324844.862,341353.696,336271.234,342699.485,350172.831,365346.877,372090.490,385904.079,394792.887,390861.863,391818.950,3.881263e+05,3.723178e+05,3.613168e+05,3.653322e+05
BRA,Brazil,CO2 emissions (kt),327983.814,337433.673,332266.870,321621.569,337826.042,347308.904,347668.270,363212.683,387631.236,367147.374,419754.156,439412.943,4.700287e+05,5.036771e+05,5.335302e+05,5.043885e+05
CAN,Canada,CO2 emissions (kt),534380.909,527926.989,519335.208,553100.944,553357.634,561425.034,571993.328,571846.648,561791.734,532191.710,527263.262,522774.854,5.177217e+05,5.191885e+05,5.406148e+05,5.494303e+05
CHN,China,CO2 emissions (kt),3405179.867,3487566.356,3850269.326,4540417.061,5233538.733,5896957.705,6529291.518,6697654.489,7553070.247,7557789.676,8776040.416,9733538.120,1.002857e+07,1.025801e+07,1.029193e+07,1.014500e+07
DEU,Germany,CO2 emissions (kt),829977.779,853662.932,829724.756,823003.145,815969.839,797759.517,816721.574,781247.016,779296.172,720547.165,757880.892,729810.007,7.381414e+05,7.579616e+05,7.203638e+05,7.270451e+05

## Filter out other CSVs according to TOP 20 countries list

In [ ]:
# Loading cleaned GDP data 
GDPdata = pd.read_csv('Cleaned_GDP.csv', index_col= "Country Code")

# Store Top 20 Countries-GDP chart -- USE THIS CHART FOR GDP DATA
top20_GDP= GDPdata.loc[top20_countrycodes_list]
top20_GDP.sort_values("Country Name", inplace= True)
len(top20_GDP)

In [ ]:
# Loading cleaned Renewable energy data 
Renewabledata = pd.read_csv('Cleaned_renewable.csv', index_col= "Country Code")

# Store Top 20 Countries-Renewable Energy chart -- USE THIS CHART FOR RENEWABLE ENERGY DATA
top20_Renewable= Renewabledata.loc[top20_countrycodes_list]
top20_Renewable.sort_values("Country Name", inplace= True)
len(top20_Renewable)

In [ ]:
colors = [
'#93b987',
'#f85916',
'#fbd505',
'#6d9c2f',
'#ff3f3f',
'#38ddd9',
'#ffbc3e',
'#92c12b',
'#ff61a1',
'#fdbf60',
'#78347c',
'#3a1560',
'#58d454',
'#30bac5',
'#ffd214',
'#ff8029',
'#df0000',
'#fbcb5a',
'#ced4d7',
'#d8b129',
]

top20_CO2df["color"] = colors
top20_GDP["color"] = colors
top20_Renewable["color"] = colors

top20_Renewable.head(5)

In [ ]:
top20_CO2df.to_csv("top20_CO2df.csv", index=True)

top20_countrynames_list.to_csv("top20_countrynames_list.csv", index=True)

top20_countrycodes_list.to_csv("top20_countrycodes_list.csv", index=True)

top20_GDP.to_csv("top20_GDP.csv", index=True)

top20_Renewable.to_csv("top20_Renewable.csv", index=True)