In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Loading raw data and cleaning
data = pd.read_csv('CO2emissions_data.csv', error_bad_lines=False)

data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,CO2 emissions (kt),EN.ATM.CO2E.KT,11092.675,11576.719,12713.489,12178.107,11840.743,10623.299,...,1349.456,861.745,872.746,898.415,883.747,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,CO2 emissions (kt),EN.ATM.CO2E.KT,414.371,491.378,689.396,707.731,839.743,1008.425,...,10755.311,9050.156,8467.103,9035.488,8672.455,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,CO2 emissions (kt),EN.ATM.CO2E.KT,550.050,454.708,1180.774,1151.438,1224.778,1188.108,...,34176.440,33692.396,44851.077,34583.477,34693.487,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,CO2 emissions (kt),EN.ATM.CO2E.KT,2024.184,2280.874,2464.224,2082.856,2016.850,2174.531,...,4924.781,4913.780,5489.499,4616.753,4536.079,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,...,487.711,476.710,462.042,465.709,469.376,NaN,NaN,NaN,NaN,NaN

In [4]:
columns_to_keep = ["Country Name", "Country Code", "Indicator Name", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"]

Organized_df = data[columns_to_keep]
Organized_df.head()

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,CO2 emissions (kt),2379.883,2409.219,2438.555,2563.233,2618.238,2720.914,2717.247,2823.590,2658.575,2629.239,2508.228,2500.894,1349.456,861.745,872.746,898.415
1,Afghanistan,AFG,CO2 emissions (kt),773.737,817.741,1070.764,1213.777,916.750,1327.454,1650.150,2273.540,4206.049,6769.282,8463.436,12240.446,10755.311,9050.156,8467.103,9035.488
2,Angola,AGO,CO2 emissions (kt),9541.534,9732.218,12665.818,9064.824,18793.375,19156.408,22266.024,25151.953,25709.337,27792.193,29057.308,30586.447,34176.440,33692.396,44851.077,34583.477
3,Albania,ALB,CO2 emissions (kt),3021.608,3223.293,3751.341,4294.057,4165.712,4253.720,3898.021,3927.357,4374.731,4378.398,4598.418,5240.143,4924.781,4913.780,5489.499,4616.753
4,Andorra,AND,CO2 emissions (kt),524.381,524.381,531.715,535.382,561.051,575.719,546.383,539.049,539.049,517.047,517.047,491.378,487.711,476.710,462.042,465.709

In [5]:
CO2_data = Organized_df.dropna()
CO2_data.head()

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,CO2 emissions (kt),2379.883,2409.219,2438.555,2563.233,2618.238,2720.914,2717.247,2823.590,2658.575,2629.239,2508.228,2500.894,1349.456,861.745,872.746,898.415
1,Afghanistan,AFG,CO2 emissions (kt),773.737,817.741,1070.764,1213.777,916.750,1327.454,1650.150,2273.540,4206.049,6769.282,8463.436,12240.446,10755.311,9050.156,8467.103,9035.488
2,Angola,AGO,CO2 emissions (kt),9541.534,9732.218,12665.818,9064.824,18793.375,19156.408,22266.024,25151.953,25709.337,27792.193,29057.308,30586.447,34176.440,33692.396,44851.077,34583.477
3,Albania,ALB,CO2 emissions (kt),3021.608,3223.293,3751.341,4294.057,4165.712,4253.720,3898.021,3927.357,4374.731,4378.398,4598.418,5240.143,4924.781,4913.780,5489.499,4616.753
4,Andorra,AND,CO2 emissions (kt),524.381,524.381,531.715,535.382,561.051,575.719,546.383,539.049,539.049,517.047,517.047,491.378,487.711,476.710,462.042,465.709

In [8]:
CO2_data = CO2_data.rename(columns={"Country Name":"country_name","Country Code":"country_code","Indicator Name":"indicator_name"})

CO2_data.head()

,country_name,country_code,indicator_name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,CO2 emissions (kt),2379.883,2409.219,2438.555,2563.233,2618.238,2720.914,2717.247,2823.590,2658.575,2629.239,2508.228,2500.894,1349.456,861.745,872.746,898.415
1,Afghanistan,AFG,CO2 emissions (kt),773.737,817.741,1070.764,1213.777,916.750,1327.454,1650.150,2273.540,4206.049,6769.282,8463.436,12240.446,10755.311,9050.156,8467.103,9035.488
2,Angola,AGO,CO2 emissions (kt),9541.534,9732.218,12665.818,9064.824,18793.375,19156.408,22266.024,25151.953,25709.337,27792.193,29057.308,30586.447,34176.440,33692.396,44851.077,34583.477
3,Albania,ALB,CO2 emissions (kt),3021.608,3223.293,3751.341,4294.057,4165.712,4253.720,3898.021,3927.357,4374.731,4378.398,4598.418,5240.143,4924.781,4913.780,5489.499,4616.753
4,Andorra,AND,CO2 emissions (kt),524.381,524.381,531.715,535.382,561.051,575.719,546.383,539.049,539.049,517.047,517.047,491.378,487.711,476.710,462.042,465.709

In [ ]:
#Cleaning our GDP csv

In [9]:
data = pd.read_csv('GDPpercapita-data.csv', error_bad_lines=False)

data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.063882,-1.864168,3.593198,-0.294412,5.125616,1.583035,1.521780,NaN,NaN,NaN
1,Afghanistan,AFG,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.681081,8.974880,1.974169,-0.665271,-1.622887,-0.541697,0.064250,-1.195347,1.536912,NaN
2,Angola,AGO,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.220851,4.706498,1.292041,1.219835,-2.468719,-5.816191,-3.409909,-5.162102,-3.795674,NaN
3,Albania,ALB,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.821558,1.585156,1.187204,1.985426,2.516853,3.480117,3.897711,4.328396,2.676550,NaN
4,Andorra,AND,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.830102,-3.452688,-1.573746,4.524456,2.997046,4.667655,0.731813,1.582169,1.669680,NaN

In [10]:
columns_to_keep = ["Country Name", "Country Code", "Indicator Name", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"]

Organized_df = data[columns_to_keep]
Organized_df.head()

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP per capita growth (annual %),5.427608,-5.107188,-5.405878,-0.152951,6.031742,-0.094958,0.245883,1.410010,-0.224764,-10.605300,-3.887760,3.063882,-1.864168,3.593198,-0.294412,5.125616
1,Afghanistan,AFG,GDP per capita growth (annual %),NaN,NaN,NaN,3.868362,-2.875184,7.207933,2.253357,11.022774,1.594211,18.515369,11.264133,-2.681081,8.974880,1.974169,-0.665271,-1.622887
2,Angola,AGO,GDP per capita growth (annual %),-0.267945,0.822114,9.943764,-0.431851,7.187036,11.030836,7.582329,9.890012,7.116873,-2.808634,0.640294,-0.220851,4.706498,1.292041,1.219835,-2.468719
3,Albania,ALB,GDP per capita growth (annual %),7.633866,9.311124,4.853922,5.925630,5.951881,6.071391,6.570332,6.783927,8.328036,4.048888,4.223038,2.821558,1.585156,1.187204,1.985426,2.516853
4,Andorra,AND,GDP per capita growth (annual %),1.913452,4.986929,0.504741,4.040888,3.792889,1.892421,2.057546,-0.523712,-6.885786,-5.976668,-1.958707,0.830102,-3.452688,-1.573746,4.524456,2.997046

In [11]:
GDP_data = Organized_df.dropna()
GDP_data.head()

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP per capita growth (annual %),5.427608,-5.107188,-5.405878,-0.152951,6.031742,-0.094958,0.245883,1.410010,-0.224764,-10.605300,-3.887760,3.063882,-1.864168,3.593198,-0.294412,5.125616
2,Angola,AGO,GDP per capita growth (annual %),-0.267945,0.822114,9.943764,-0.431851,7.187036,11.030836,7.582329,9.890012,7.116873,-2.808634,0.640294,-0.220851,4.706498,1.292041,1.219835,-2.468719
3,Albania,ALB,GDP per capita growth (annual %),7.633866,9.311124,4.853922,5.925630,5.951881,6.071391,6.570332,6.783927,8.328036,4.048888,4.223038,2.821558,1.585156,1.187204,1.985426,2.516853
4,Andorra,AND,GDP per capita growth (annual %),1.913452,4.986929,0.504741,4.040888,3.792889,1.892421,2.057546,-0.523712,-6.885786,-5.976668,-1.958707,0.830102,-3.452688,-1.573746,4.524456,2.997046
5,Arab World,ARB,GDP per capita growth (annual %),3.272927,-0.579991,-1.557380,3.063164,6.976221,3.362640,4.028851,2.043404,3.276814,-1.965237,2.231819,1.386670,4.283180,1.039802,0.337680,1.126316

In [12]:
GDP_data = GDP_data.rename(columns={"Country Name":"country_name","Country Code":"country_code","Indicator Name":"indicator_name"})

GDP_data.head()

,country_name,country_code,indicator_name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP per capita growth (annual %),5.427608,-5.107188,-5.405878,-0.152951,6.031742,-0.094958,0.245883,1.410010,-0.224764,-10.605300,-3.887760,3.063882,-1.864168,3.593198,-0.294412,5.125616
2,Angola,AGO,GDP per capita growth (annual %),-0.267945,0.822114,9.943764,-0.431851,7.187036,11.030836,7.582329,9.890012,7.116873,-2.808634,0.640294,-0.220851,4.706498,1.292041,1.219835,-2.468719
3,Albania,ALB,GDP per capita growth (annual %),7.633866,9.311124,4.853922,5.925630,5.951881,6.071391,6.570332,6.783927,8.328036,4.048888,4.223038,2.821558,1.585156,1.187204,1.985426,2.516853
4,Andorra,AND,GDP per capita growth (annual %),1.913452,4.986929,0.504741,4.040888,3.792889,1.892421,2.057546,-0.523712,-6.885786,-5.976668,-1.958707,0.830102,-3.452688,-1.573746,4.524456,2.997046
5,Arab World,ARB,GDP per capita growth (annual %),3.272927,-0.579991,-1.557380,3.063164,6.976221,3.362640,4.028851,2.043404,3.276814,-1.965237,2.231819,1.386670,4.283180,1.039802,0.337680,1.126316

In [ ]:
#Clenaing renewable energy CSV

In [19]:
data = pd.read_csv("Renewable_energy_csv.csv", error_bad_lines=False)

data.head()

b'Skipping line 5: expected 3 fields, saw 66\nSkipping line 6: expected 3 fields, saw 66\nSkipping line 7: expected 3 fields, saw 66\nSkipping line 8: expected 3 fields, saw 66\nSkipping line 9: expected 3 fields, saw 66\nSkipping line 10: expected 3 fields, saw 66\nSkipping line 11: expected 3 fields, saw 66\nSkipping line 12: expected 3 fields, saw 66\nSkipping line 13: expected 3 fields, saw 66\nSkipping line 14: expected 3 fields, saw 66\nSkipping line 15: expected 3 fields, saw 66\nSkipping line 16: expected 3 fields, saw 66\nSkipping line 17: expected 3 fields, saw 66\nSkipping line 18: expected 3 fields, saw 66\nSkipping line 19: expected 3 fields, saw 66\nSkipping line 20: expected 3 fields, saw 66\nSkipping line 21: expected 3 fields, saw 66\nSkipping line 22: expected 3 fields, saw 66\nSkipping line 23: expected 3 fields, saw 66\nSkipping line 24: expected 3 fields, saw 66\nSkipping line 25: expected 3 fields, saw 66\nSkipping line 26: expected 3 fields, saw 66\nSkipping line 27: expected 3 fields, saw 66\nSkipping line 28: expected 3 fields, saw 66\nSkipping line 29: expected 3 fields, saw 66\nSkipping line 30: expected 3 fields, saw 66\nSkipping line 31: expected 3 fields, saw 66\nSkipping line 32: expected 3 fields, saw 66\nSkipping line 33: expected 3 fields, saw 66\nSkipping line 34: expected 3 fields, saw 66\nSkipping line 35: expected 3 fields, saw 66\nSkipping line 36: expected 3 fields, saw 66\nSkipping line 37: expected 3 fields, saw 66\nSkipping line 38: expected 3 fields, saw 66\nSkipping line 39: expected 3 fields, saw 66\nSkipping line 40: expected 3 fields, saw 66\nSkipping line 41: expected 3 fields, saw 66\nSkipping line 42: expected 3 fields, saw 66\nSkipping line 43: expected 3 fields, saw 66\nSkipping line 44: expected 3 fields, saw 66\nSkipping line 45: expected 3 fields, saw 66\nSkipping line 46: expected 3 fields, saw 66\nSkipping line 47: expected 3 fields, saw 66\nSkipping line 48: expected 3 fields, saw 66\nSkipping line 49: expected 3 fields, saw 66\nSkipping line 50: expected 3 fields, saw 66\nSkipping line 51: expected 3 fields, saw 66\nSkipping line 52: expected 3 fields, saw 66\nSkipping line 53: expected 3 fields, saw 66\nSkipping line 54: expected 3 fields, saw 66\nSkipping line 55: expected 3 fields, saw 66\nSkipping line 56: expected 3 fields, saw 66\nSkipping line 57: expected 3 fields, saw 66\nSkipping line 58: expected 3 fields, saw 66\nSkipping line 59: expected 3 fields, saw 66\nSkipping line 60: expected 3 fields, saw 66\nSkipping line 61: expected 3 fields, saw 66\nSkipping line 62: expected 3 fields, saw 66\nSkipping line 63: expected 3 fields, saw 66\nSkipping line 64: expected 3 fields, saw 66\nSkipping line 65: expected 3 fields, saw 66\nSkipping line 66: expected 3 fields, saw 66\nSkipping line 67: expected 3 fields, saw 66\nSkipping line 68: expected 3 fields, saw 66\nSkipping line 69: expected 3 fields, saw 66\nSkipping line 70: expected 3 fields, saw 66\nSkipping line 71: expected 3 fields, saw 66\nSkipping line 72: expected 3 fields, saw 66\nSkipping line 73: expected 3 fields, saw 66\nSkipping line 74: expected 3 fields, saw 66\nSkipping line 75: expected 3 fields, saw 66\nSkipping line 76: expected 3 fields, saw 66\nSkipping line 77: expected 3 fields, saw 66\nSkipping line 78: expected 3 fields, saw 66\nSkipping line 79: expected 3 fields, saw 66\nSkipping line 80: expected 3 fields, saw 66\nSkipping line 81: expected 3 fields, saw 66\nSkipping line 82: expected 3 fields, saw 66\nSkipping line 83: expected 3 fields, saw 66\nSkipping line 84: expected 3 fields, saw 66\nSkipping line 85: expected 3 fields, saw 66\nSkipping line 86: expected 3 fields, saw 66\nSkipping line 87: expected 3 fields, saw 66\nSkipping line 88: expected 3 fields, saw 66\nSkipping line 89: expected 3 fields, saw 66\nSkipping line 90: expected 3 fields, saw 66\nSkipping line 91: expected 3 fields, saw 66\nSkipping line 92: expected 3 fields, saw 66\nSkipping line 93: expected 3 fields, saw 66\nSkipping line 94: expected 3 fields, saw 66\nSkipping line 95: expected 3 fields, saw 66\nSkipping line 96: expected 3 fields, saw 66\nSkipping line 97: expected 3 fields, saw 66\nSkipping line 98: expected 3 fields, saw 66\nSkipping line 99: expected 3 fields, saw 66\nSkipping line 100: expected 3 fields, saw 66\nSkipping line 101: expected 3 fields, saw 66\nSkipping line 102: expected 3 fields, saw 66\nSkipping line 103: expected 3 fields, saw 66\nSkipping line 104: expected 3 fields, saw 66\nSkipping line 105: expected 3 fields, saw 66\nSkipping line 106: expected 3 fields, saw 66\nSkipping line 107: expected 3 fields, saw 66\nSkipping line 108: expected 3 fields, saw 66\nSkipping line 109: expected 3 fields, saw 66\nSkipping line 110: expected 3 fields, saw 66\nSkipping line 111: expected 3 fields, saw 66\nSkipping line 112: expected 3 fields, saw 66\nSkipping line 113: expected 3 fields, saw 66\nSkipping line 114: expected 3 fields, saw 66\nSkipping line 115: expected 3 fields, saw 66\nSkipping line 116: expected 3 fields, saw 66\nSkipping line 117: expected 3 fields, saw 66\nSkipping line 118: expected 3 fields, saw 66\nSkipping line 119: expected 3 fields, saw 66\nSkipping line 120: expected 3 fields, saw 66\nSkipping line 121: expected 3 fields, saw 66\nSkipping line 122: expected 3 fields, saw 66\nSkipping line 123: expected 3 fields, saw 66\nSkipping line 124: expected 3 fields, saw 66\nSkipping line 125: expected 3 fields, saw 66\nSkipping line 126: expected 3 fields, saw 66\nSkipping line 127: expected 3 fields, saw 66\nSkipping line 128: expected 3 fields, saw 66\nSkipping line 129: expected 3 fields, saw 66\nSkipping line 130: expected 3 fields, saw 66\nSkipping line 131: expected 3 fields, saw 66\nSkipping line 132: expected 3 fields, saw 66\nSkipping line 133: expected 3 fields, saw 66\nSkipping line 134: expected 3 fields, saw 66\nSkipping line 135: expected 3 fields, saw 66\nSkipping line 136: expected 3 fields, saw 66\nSkipping line 137: expected 3 fields, saw 66\nSkipping line 138: expected 3 fields, saw 66\nSkipping line 139: expected 3 fields, saw 66\nSkipping line 140: expected 3 fields, saw 66\nSkipping line 141: expected 3 fields, saw 66\nSkipping line 142: expected 3 fields, saw 66\nSkipping line 143: expected 3 fields, saw 66\nSkipping line 144: expected 3 fields, saw 66\nSkipping line 145: expected 3 fields, saw 66\nSkipping line 146: expected 3 fields, saw 66\nSkipping line 147: expected 3 fields, saw 66\nSkipping line 148: expected 3 fields, saw 66\nSkipping line 149: expected 3 fields, saw 66\nSkipping line 150: expected 3 fields, saw 66\nSkipping line 151: expected 3 fields, saw 66\nSkipping line 152: expected 3 fields, saw 66\nSkipping line 153: expected 3 fields, saw 66\nSkipping line 154: expected 3 fields, saw 66\nSkipping line 155: expected 3 fields, saw 66\nSkipping line 156: expected 3 fields, saw 66\nSkipping line 157: expected 3 fields, saw 66\nSkipping line 158: expected 3 fields, saw 66\nSkipping line 159: expected 3 fields, saw 66\nSkipping line 160: expected 3 fields, saw 66\nSkipping line 161: expected 3 fields, saw 66\nSkipping line 162: expected 3 fields, saw 66\nSkipping line 163: expected 3 fields, saw 66\nSkipping line 164: expected 3 fields, saw 66\nSkipping line 165: expected 3 fields, saw 66\nSkipping line 166: expected 3 fields, saw 66\nSkipping line 167: expected 3 fields, saw 66\nSkipping line 168: expected 3 fields, saw 66\nSkipping line 169: expected 3 fields, saw 66\nSkipping line 170: expected 3 fields, saw 66\nSkipping line 171: expected 3 fields, saw 66\nSkipping line 172: expected 3 fields, saw 66\nSkipping line 173: expected 3 fields, saw 66\nSkipping line 174: expected 3 fields, saw 66\nSkipping line 175: expected 3 fields, saw 66\nSkipping line 176: expected 3 fields, saw 66\nSkipping line 177: expected 3 fields, saw 66\nSkipping line 178: expected 3 fields, saw 66\nSkipping line 179: expected 3 fields, saw 66\nSkipping line 180: expected 3 fields, saw 66\nSkipping line 181: expected 3 fields, saw 66\nSkipping line 182: expected 3 fields, saw 66\nSkipping line 183: expected 3 fields, saw 66\nSkipping line 184: expected 3 fields, saw 66\nSkipping line 185: expected 3 fields, saw 66\nSkipping line 186: expected 3 fields, saw 66\nSkipping line 187: expected 3 fields, saw 66\nSkipping line 188: expected 3 fields, saw 66\nSkipping line 189: expected 3 fields, saw 66\nSkipping line 190: expected 3 fields, saw 66\nSkipping line 191: expected 3 fields, saw 66\nSkipping line 192: expected 3 fields, saw 66\nSkipping line 193: expected 3 fields, saw 66\nSkipping line 194: expected 3 fields, saw 66\nSkipping line 195: expected 3 fields, saw 66\nSkipping line 196: expected 3 fields, saw 66\nSkipping line 197: expected 3 fields, saw 66\nSkipping line 198: expected 3 fields, saw 66\nSkipping line 199: expected 3 fields, saw 66\nSkipping line 200: expected 3 fields, saw 66\nSkipping line 201: expected 3 fields, saw 66\nSkipping line 202: expected 3 fields, saw 66\nSkipping line 203: expected 3 fields, saw 66\nSkipping line 204: expected 3 fields, saw 66\nSkipping line 205: expected 3 fields, saw 66\nSkipping line 206: expected 3 fields, saw 66\nSkipping line 207: expected 3 fields, saw 66\nSkipping line 208: expected 3 fields, saw 66\nSkipping line 209: expected 3 fields, saw 66\nSkipping line 210: expected 3 fields, saw 66\nSkipping line 211: expected 3 fields, saw 66\nSkipping line 212: expected 3 fields, saw 66\nSkipping line 213: expected 3 fields, saw 66\nSkipping line 214: expected 3 fields, saw 66\nSkipping line 215: expected 3 fields, saw 66\nSkipping line 216: expected 3 fields, saw 66\nSkipping line 217: expected 3 fields, saw 66\nSkipping line 218: expected 3 fields, saw 66\nSkipping line 219: expected 3 fields, saw 66\nSkipping line 220: expected 3 fields, saw 66\nSkipping line 221: expected 3 fields, saw 66\nSkipping line 222: expected 3 fields, saw 66\nSkipping line 223: expected 3 fields, saw 66\nSkipping line 224: expected 3 fields, saw 66\nSkipping line 225: expected 3 fields, saw 66\nSkipping line 226: expected 3 fields, saw 66\nSkipping line 227: expected 3 fields, saw 66\nSkipping line 228: expected 3 fields, saw 66\nSkipping line 229: expected 3 fields, saw 66\nSkipping line 230: expected 3 fields, saw 66\nSkipping line 231: expected 3 fields, saw 66\nSkipping line 232: expected 3 fields, saw 66\nSkipping line 233: expected 3 fields, saw 66\nSkipping line 234: expected 3 fields, saw 66\nSkipping line 235: expected 3 fields, saw 66\nSkipping line 236: expected 3 fields, saw 66\nSkipping line 237: expected 3 fields, saw 66\nSkipping line 238: expected 3 fields, saw 66\nSkipping line 239: expected 3 fields, saw 66\nSkipping line 240: expected 3 fields, saw 66\nSkipping line 241: expected 3 fields, saw 66\nSkipping line 242: expected 3 fields, saw 66\nSkipping line 243: expected 3 fields, saw 66\nSkipping line 244: expected 3 fields, saw 66\nSkipping line 245: expected 3 fields, saw 66\nSkipping line 246: expected 3 fields, saw 66\nSkipping line 247: expected 3 fields, saw 66\nSkipping line 248: expected 3 fields, saw 66\nSkipping line 249: expected 3 fields, saw 66\nSkipping line 250: expected 3 fields, saw 66\nSkipping line 251: expected 3 fields, saw 66\nSkipping line 252: expected 3 fields, saw 66\nSkipping line 253: expected 3 fields, saw 66\nSkipping line 254: expected 3 fields, saw 66\nSkipping line 255: expected 3 fields, saw 66\nSkipping line 256: expected 3 fields, saw 66\nSkipping line 257: expected 3 fields, saw 66\nSkipping line 258: expected 3 fields, saw 66\nSkipping line 259: expected 3 fields, saw 66\nSkipping line 260: expected 3 fields, saw 66\nSkipping line 261: expected 3 fields, saw 66\nSkipping line 262: expected 3 fields, saw 66\nSkipping line 263: expected 3 fields, saw 66\nSkipping line 264: expected 3 fields, saw 66\nSkipping line 265: expected 3 fields, saw 66\nSkipping line 266: expected 3 fields, saw 66\nSkipping line 267: expected 3 fields, saw 66\nSkipping line 268: expected 3 fields, saw 66\nSkipping line 269: expected 3 fields, saw 66\n'

         Data Source World Development Indicators  Unnamed: 2
0  Last Updated Date                   2021-02-17         NaN